pyup-update-flask-login-0.5.0-to-0.6.0
pyup-update-flask-2.2.0-to-2.2.1
Flask==2.2.2
Flask-Login==0.6.2
=======
pyup-update-flask-2.0.3-to-2.1.0
Flask==2.2.2
=======
Flask==2.2.2
=======
Flask==2.2.2
Flask-Login==0.6.2
=======
pyup-update-flask-2.0.3-to-2.1.0
Flask==2.2.2
=======
Flask==2.2.2
main
main
pyup-update-flask-login-0.5.0-to-0.6.0
Flask-Login==0.6.2
=======
renovate/flask-login-0.x
Flask-Login==0.6.2
=======
Flask-Login==0.6.2
main
main
main
Flask-Migrate==4.0.1
Flask-Script==2.0.6
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.1.0
Flask-User==1.0.2.2
pytest==7.2.1
pytest-cov==4.0.0
wtforms==3.0.1 
renovate/werkzeug-0.x
pyup-update-werkzeug-2.1.2-to-2.2.0
Werkzeug==2.2.2
gunicorn==20.1.0
=======
pyup-update-gunicorn-0.14.2-to-20.1.0
Werkzeug==2.2.2
=======
Werkzeug==2.2.2
gunicorn==20.1.0
=======
pyup-update-gunicorn-0.14.2-to-20.1.0
Werkzeug==2.2.2
main
gunicorn==20.1.0
pyup-update-sqlalchemy-1.0.0-to-1.4.26
sqlalchemy==1.4.46
=======
pyup-pin-main-0.1
main==0.1
sqlalchemy==1.4.46
main==0.1
=======
main
sqlalchemy==1.4.46
main
pyup-update-sqlalchemy-1.4.26-to-1.4.27
sqlalchemy==1.4.46
=======
main
main
=======
pyup-update-werkzeug-2.1.2-to-2.2.0
Werkzeug==2.2.2
=======
Werkzeug==2.2.2
main
pyup-update-gunicorn-19.5.0-to-20.1.0
gunicorn==20.1.0
=======
pyup-pin-main-0.1
gunicorn==20.1.0
main==0.1
=======
gunicorn==20.1.0
main
pyup-update-sqlalchemy-1.4.26-to-1.4.27
=======
main
main
sqlalchemy==1.4.46
main==0.1
sqlparse==0.4.3
