mypy==1.8.0
idna==3.6
pyup-update-tornado-6.1-to-6.2
cryptography==42.0.5
=======
cryptography==42.0.5
main
tornado==6.4
pytest==8.0.2
trustme==1.1.0
types-backports==1.0.0
pyup-update-types-requests-2.27.5-to-2.27.6
pyup-update-types-requests-2.28.5-to-2.28.6
pyup-update-types-requests-2.28.11-to-2.28.11.1
types-requests==2.31.0.20240311
=======
types-requests==2.31.0.20240311
=======
types-requests==2.31.0.20240311
=======
types-requests==2.31.0.20240311
=======
types-requests==2.31.0.20240311
=======
types-requests==2.31.0.20240311
=======
types-requests==2.31.0.20240311
=======
types-requests==2.31.0.20240311
main
main
main
