mypy==0.941
idna==3.3
cryptography==36.0.2
tornado==6.1
pytest==7.1.1
trustme==0.9.0
types-backports==1.0.0
pyup-update-types-requests-2.27.5-to-2.27.6
types-requests==2.27.14
=======
types-requests==2.27.14
main
