
# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
pyup-update-flask-2.0.3-to-2.1.0
Flask==2.1.3
=======
Flask==2.1.3
main

# Flask Packages
Flask-Login==0.6.2
Flask-Migrate==3.1.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
Flask-User==1.0.2.2

# Automated tests
pytest==7.1.2
pytest-cov==3.0.0
wtforms==3.0.1

juypter-server-proxy==1.3.2
sqlparse==0.4.2
pyup-update-flask-2.0.3-to-2.1.0
Flask==2.1.3
=======
Flask==2.1.3
main
pyup-update-attrs-21.4.0-to-22.1.0
attrs==22.1.0
Werkzeug==2.1.2
=======
attrs==21.4.0
pyup-update-werkzeug-2.1.2-to-2.2.0
Werkzeug==2.2.1
=======
Werkzeug==2.2.1
main
main
pyup-update-werkzeug-2.1.1-to-2.1.2
Jinja2==3.1.2
=======
Jinja2==3.1.2
main
pyup-update-setuptools-58.2.0-to-58.3.0
oauth2client==4.1.3
=======
oauth2client==4.1.3
pyup-pin-main-0.1
main==0.1
renovate/setuptools-59.x
renovate/setuptools-60.x
renovate/setuptools-60.x
pyup-update-setuptools-62.1.0-to-62.3.1
setuptools==63.2.0
=======
pyup-pin-main-0.1
main==0.1
setuptools==63.2.0
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==63.2.0
=======
pyup-pin-main-0.1
main==0.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
pyup-pin-main-0.1
main==0.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
=======
pyup-pin-main-0.1
main==0.1
setuptools==63.2.0
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==63.2.0
=======
pyup-pin-main-0.1
main==0.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
pyup-pin-main-0.1
main==0.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
main
main
=======
pyup-pin-main-0.1
main==0.1
pyup-update-setuptools-62.1.0-to-62.3.1
setuptools==63.2.0
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==63.2.0
=======
pyup-pin-main-0.1
main==0.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
pyup-pin-main-0.1
main==0.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==63.2.0
=======
pyup-pin-main-0.1
main==0.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
pyup-pin-main-0.1
main==0.1
setuptools==63.2.0
main
main
main
main
main==0.1
=======
main==0.1
pyup-update-setuptools-58.4.0-to-58.5.2
pyup-update-setuptools-58.4.0-to-58.5.2
=======
renovate/setuptools-58.x
pyup-pin-main-0.1
main==0.1
pyup-update-setuptools-58.5.3-to-59.1.1
renovate/setuptools-60.x
renovate/setuptools-60.x
pyup-update-setuptools-62.1.0-to-62.3.1
setuptools==63.2.0
=======
pyup-pin-main-0.1
setuptools==63.2.0
=======
renovate/setuptools-59.x
setuptools==63.2.0
=======
pyup-pin-main-0.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
pyup-pin-main-0.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
main
=======
pyup-pin-main-0.1
setuptools==63.2.0
=======
renovate/setuptools-59.x
setuptools==63.2.0
=======
pyup-pin-main-0.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
pyup-pin-main-0.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
pyup-pin-main-0.1
setuptools==63.2.0
=======
renovate/setuptools-59.x
setuptools==63.2.0
=======
pyup-pin-main-0.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
pyup-pin-main-0.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
main
=======
pyup-pin-main-0.1
setuptools==63.2.0
=======
renovate/setuptools-59.x
setuptools==63.2.0
=======
pyup-pin-main-0.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
pyup-pin-main-0.1
setuptools==63.2.0
main
main
main
main
main==0.1
main==0.1
main==0.1
=======
pyup-update-setuptools-58.5.3-to-59.1.1
renovate/setuptools-60.x
renovate/setuptools-60.x
pyup-update-setuptools-62.1.0-to-62.3.1
setuptools==63.2.0
=======
main
setuptools==63.2.0
=======
setuptools==63.2.0
=======
renovate/setuptools-59.x
setuptools==63.2.0
=======
setuptools==63.2.0
main
=======
main
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
main
=======
main
setuptools==63.2.0
=======
setuptools==63.2.0
=======
renovate/setuptools-59.x
setuptools==63.2.0
=======
setuptools==63.2.0
main
=======
main
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
=======
main
setuptools==63.2.0
=======
setuptools==63.2.0
=======
renovate/setuptools-59.x
setuptools==63.2.0
=======
setuptools==63.2.0
main
=======
main
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
main
=======
main
setuptools==63.2.0
=======
setuptools==63.2.0
=======
renovate/setuptools-59.x
setuptools==63.2.0
=======
setuptools==63.2.0
main
=======
main
setuptools==63.2.0
=======
setuptools==63.2.0
main
main
main
main
main
main
main
main
parse==1.19.0
pip==22.2.1
py==1.11.0
pytz==2022.1 
pytest-cov==3.0.0
pytest==7.1.2
mypy==1.0
neural-python=.0.0.4
neuralnetwork==1.8
renovate/matplotlib-3.x
matplotlib==3.5.2
=======
pyup-update-matplotlib-3.5.1-to-3.5.2
matplotlib==3.5.2
asgiref==3.5.2
=======
matplotlib==3.5.2
main
asgiref==3.5.2
main
toml==1.0
jupyter-console==6.4.4
jupyter-core==4.11.1
entrypoints==0.4
networkx==2.8.5
packaging==21.3
renovate/keras-2.x
tensorflow==2.9.1
pyup-update-tensorflow-2.7.0-to-2.8.0
keras==2.9.0
=======
keras==2.9.0
main
=======
tensorflow==2.9.1
pyup-update-tensorflow-2.6.0-to-2.6.1
keras==2.9.0
=======
keras==2.9.0
main==0.1
main==0.1

appdirs==1.4.4
CacheControl==0.12.11
colorama==0.4.5
contextlib2==21.6.0
distlib==0.3.5
distro==1.7.0
html5lib==1.1
ipaddress==1.0.23  # Only needed on 2.6 and 2.7
pyup-update-msgpack-1.0.2-to-1.0.3
pyup-update-msgpack-1.0.2-to-1.0.3
msgpack==1.0.4
packaging==21.3
=======
msgpack==1.0.4
=======
msgpack==1.0.4
main
packaging==21.3
main
pep517==0.13.0
progress==1.6
pyparsing==3.0.9
requests==2.28.1
certifi==2022.6.15
chardet==5.0.0
idna==3.3
urllib3==1.26.11
resolvelib==0.8.1
retrying==1.3.3
renovate/setuptools-59.x
renovate/setuptools-60.x
renovate/setuptools-60.x
pyup-update-setuptools-62.1.0-to-62.3.1
setuptools==63.2.0
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
main
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
=======
setuptools==63.2.0
main
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==63.2.0
=======
setuptools==63.2.0
main
main
main
main
six==1.16.0
toml==0.10.2
webencodings==0.5.1
virtualenv==20.16.2
wheel==0.37.1
