
# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
pyup-update-flask-2.0.3-to-2.1.0
pyup-update-flask-2.2.0-to-2.2.1
Flask==3.0.0
=======
Flask==3.0.0
=======
Flask==3.0.0
=======
Flask==3.0.0
main
main

# Flask Packages
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-Script==2.0.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Flask-User==1.0.2.2

# Automated tests
pytest==7.4.4
pytest-cov==4.1.0
wtforms==3.1.2

juypter-server-proxy==1.3.2
sqlparse==0.4.4
pyup-update-flask-2.0.3-to-2.1.0
pyup-update-flask-2.2.0-to-2.2.1
Flask==3.0.0
=======
Flask==3.0.0
=======
Flask==3.0.0
=======
Flask==3.0.0
main
main
pyup-update-attrs-21.4.0-to-22.1.0
pyup-update-attrs-21.4.0-to-22.1.0
attrs==23.2.0
pyup-update-werkzeug-2.3.2-to-2.3.4
pyup-update-redis-5.0.0-to-5.0.1
Werkzeug==3.0.1
redis==5.0.1
=======
Werkzeug==3.0.1
=======
Werkzeug==3.0.1
redis==5.0.1
=======
Werkzeug==3.0.1
main
redis==5.0.1
main
=======
renovate/attrs-22.x
attrs==23.2.0
main
=======
attrs==23.2.0
pyup-update-werkzeug-2.1.2-to-2.2.0
Werkzeug==3.0.1
=======
main
Werkzeug==3.0.1
main
main
pyup-update-werkzeug-2.1.1-to-2.1.2
Jinja2==3.1.2
=======
Jinja2==3.1.2
main
pyup-update-setuptools-58.2.0-to-58.3.0
oauth2client==4.1.3
=======
oauth2client==4.1.3
pyup-pin-main-0.1
main==0.1
renovate/setuptools-59.x
renovate/setuptools-60.x
renovate/setuptools-60.x
pyup-update-setuptools-62.1.0-to-62.3.1
setuptools==69.0.3
=======
pyup-pin-main-0.1
main==0.1
setuptools==69.0.3
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==69.0.3
=======
pyup-pin-main-0.1
main==0.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
pyup-pin-main-0.1
main==0.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
=======
pyup-pin-main-0.1
main==0.1
setuptools==69.0.3
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==69.0.3
=======
pyup-pin-main-0.1
main==0.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
pyup-pin-main-0.1
main==0.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
main
main
=======
pyup-pin-main-0.1
main==0.1
pyup-update-setuptools-62.1.0-to-62.3.1
setuptools==69.0.3
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==69.0.3
=======
pyup-pin-main-0.1
main==0.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
pyup-pin-main-0.1
main==0.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==69.0.3
=======
pyup-pin-main-0.1
main==0.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
pyup-pin-main-0.1
main==0.1
setuptools==69.0.3
main
main
main
main
main==0.1
=======
main==0.1
pyup-update-setuptools-58.4.0-to-58.5.2
pyup-update-setuptools-58.4.0-to-58.5.2
=======
renovate/setuptools-58.x
pyup-pin-main-0.1
main==0.1
pyup-update-setuptools-58.5.3-to-59.1.1
renovate/setuptools-60.x
renovate/setuptools-60.x
pyup-update-setuptools-62.1.0-to-62.3.1
setuptools==69.0.3
=======
pyup-pin-main-0.1
setuptools==69.0.3
=======
renovate/setuptools-59.x
setuptools==69.0.3
=======
pyup-pin-main-0.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
pyup-pin-main-0.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
main
=======
pyup-pin-main-0.1
setuptools==69.0.3
=======
renovate/setuptools-59.x
setuptools==69.0.3
=======
pyup-pin-main-0.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
pyup-pin-main-0.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
pyup-pin-main-0.1
setuptools==69.0.3
=======
renovate/setuptools-59.x
setuptools==69.0.3
=======
pyup-pin-main-0.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
pyup-pin-main-0.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
main
=======
pyup-pin-main-0.1
setuptools==69.0.3
=======
renovate/setuptools-59.x
setuptools==69.0.3
=======
pyup-pin-main-0.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
pyup-pin-main-0.1
setuptools==69.0.3
main
main
main
main
main==0.1
main==0.1
main==0.1
=======
pyup-update-setuptools-58.5.3-to-59.1.1
renovate/setuptools-60.x
renovate/setuptools-60.x
pyup-update-setuptools-62.1.0-to-62.3.1
setuptools==69.0.3
=======
main
setuptools==69.0.3
=======
setuptools==69.0.3
=======
renovate/setuptools-59.x
setuptools==69.0.3
=======
setuptools==69.0.3
main
=======
main
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
main
=======
main
setuptools==69.0.3
=======
setuptools==69.0.3
=======
renovate/setuptools-59.x
setuptools==69.0.3
=======
setuptools==69.0.3
main
=======
main
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
=======
main
setuptools==69.0.3
=======
setuptools==69.0.3
=======
renovate/setuptools-59.x
setuptools==69.0.3
=======
setuptools==69.0.3
main
=======
main
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
main
=======
main
setuptools==69.0.3
=======
setuptools==69.0.3
=======
renovate/setuptools-59.x
setuptools==69.0.3
=======
setuptools==69.0.3
main
=======
main
setuptools==69.0.3
=======
setuptools==69.0.3
main
main
main
main
main
main
main
main
parse==1.20.0
pip==23.3.2
py==1.11.0
pytz==2023.3.post1 
pyup-update-pytz-2022.2.1-to-2022.4
pytest-cov==4.1.0
=======
pytest-cov==4.1.0
main
pytest==7.4.4
mypy==1.8.0
neural-python=.0.0.4
neuralnetwork==1.8
renovate/matplotlib-3.x
matplotlib==3.8.2
=======
pyup-update-matplotlib-3.5.1-to-3.5.2
matplotlib==3.8.2
asgiref==3.7.2
=======
matplotlib==3.8.2
main
asgiref==3.7.2
main
toml==1.0
jupyter-console==6.6.3
jupyter-core==5.7.0
entrypoints==0.4
networkx==3.2.1
packaging==23.2
renovate/keras-2.x
tensorflow==2.15.0.post1
pyup-update-tensorflow-2.7.0-to-2.8.0
keras==3.0.2
=======
keras==3.0.2
main
=======
tensorflow==2.15.0.post1
pyup-update-tensorflow-2.6.0-to-2.6.1
keras==3.0.2
=======
keras==3.0.2
main==0.1
main==0.1

appdirs==1.4.4
CacheControl==0.13.1
colorama==0.4.6
contextlib2==21.6.0
distlib==0.3.8
distro==1.9.0
html5lib==1.1
ipaddress==1.0.23  # Only needed on 2.6 and 2.7
pyup-update-msgpack-1.0.2-to-1.0.3
pyup-update-msgpack-1.0.2-to-1.0.3
msgpack==1.0.7
packaging==23.2
=======
msgpack==1.0.7
=======
msgpack==1.0.7
main
packaging==23.2
main
pep517==0.13.1
progress==1.6
pyparsing==3.1.1
requests==2.31.0
certifi==2023.11.17
chardet==5.2.0
idna==3.6
urllib3==2.1.0
resolvelib==1.0.1
retrying==1.3.4
renovate/setuptools-59.x
renovate/setuptools-60.x
renovate/setuptools-60.x
pyup-update-setuptools-62.1.0-to-62.3.1
setuptools==69.0.3
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
main
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
=======
setuptools==69.0.3
main
=======
pyup-update-setuptools-58.5.3-to-59.1.1
setuptools==69.0.3
=======
setuptools==69.0.3
main
main
main
main
six==1.16.0
toml==0.10.2
webencodings==0.5.1
renovate/virtualenv-20.x
virtualenv==20.25.0
=======
virtualenv==20.25.0
pyup-update-virtualenv-20.24.3-to-20.24.4
wheel==0.42.0
=======
main
wheel==0.42.0
main
